.task-outer-container{
  max-width: 100vw;
  background-color: white;
  text-align: left;
  font-size: 16px;
  font-family: Nunito Sans, SemiBold;
  
  .bg-default {
    background-color: #38598a !important;
    border: #38598a !important;
    color: white !important;
  }

  .cft-not-selected{
    border: 3px solid #b3b3b3;
    padding: 10px;
    color: #b3b3b3;
    width: 100%;
  }

  .cft-filter-container{
    border: 1px solid #555;
    border-radius: 3px;
    width: 70%;
    padding: 0;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 13px;
  }

  .cft-filter{
    width: 70%;
    margin: 5px;
    border: none;
    font-style: italic;
  }

  .cft-filter-search{
    width: 100%;
  }
  .cft-filter:focus{
    outline: none;
  }

  .cft-task-row-2 {
    font-size: 15px;
  }
  .cft-task-row-3 {
    font-size: 11px;
  }

  .cft-service-task-list {
    box-shadow: 0 0 10px 5px #D0D0D0;
    clip-path: inset(0px -15px 0px 0px);
    padding: 0rem 1.25rem !important;
    border-top: 1px solid #ced4da !important;
   // max-height: 80vh;
    overflow-y: auto;
    padding-right: 25px;
    border-right: 2px solid #D0D0D0;
  } 

  .cft-service-task-details {
    min-height: 80vh;
    max-height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .task-header {
    font-size: 30px;
    font-weight: 600;
    color: #212529;
  }
  .task-name {
    font-size: 20px;
    font-weight: 400;
    color: #212529;
  }

  .cft-selected {
    border-left: 2px solid #003366 !important;
  }

  .cft-actionable {
    color: #1a5a96;
    background-color: transparent;
    cursor: pointer;
    margin: 10px 0;
    font-size: 14px;
    font-weight: bold;
  }

  .cft-select-task {
    color: #212529;
    text-align: left;
  }

  .cft-filter-dropbtn 
  {
    background-color: #1a5a96;
    color: white;
    // padding-top: 0.5rem;
    // padding-bottom: 0.5rem;
    font-size: 20px;
    // width: 20%;
    border: none;
    cursor: pointer;
    padding: 5px 9px;
    //float: right;
  }
  .cft-input-filter{
    display: flex;
    justify-content: space-between;
  }

  .cft-filter-dropdown 
  {
    position: relative;
  }

  .cft-sort-items {
    border: 1px solid #949494;
    border-radius: 3%;
    position: absolute;
    background-color: #fff;
    background-clip: padding-box;
    z-index: 5;
    padding: 5px;
    width: 13rem;
  }

  .cft-sort-items {
    border: 1px solid #949494;
    border-radius: 3%;
    position: absolute;
    background-color: #fff;
    background-clip: padding-box;
    z-index: 5;
    padding: 5px;
    width: 13rem;
  }

  .cft-filter-dropdown-content 
  {
    display: none;
    position: absolute;
    // position: relative;
    background-color: #f9f9f9;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
  }
  .cft-list-container {
    margin-top: 5px;
  }
  .cft-filter-dropdown-content :hover {background-color: #f1f1f1}

  .cft-filter-dropdown:hover .cft-filter-dropdown-content 
  {
    display: block;
  }
  .cft-task-details-assign{
    display: flex;
    justify-content: space-between;
  }
  .font-11{
    font-size: 11px;
  }
  .assigne-details{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 3px;
    margin-top: 15px;

  }
  .cft-filter-sort{
    display: flex;
    justify-content: space-between;
  }
  .tabs {
    display: block;
  }
  [aria-busy=true] {
    cursor: unset !important;
}
.cft-paginate{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

  #cftf-dpdown-container {
    display: flex;
    flex-wrap: wrap;
    padding: calc(6px + 2px) 15px calc(6px - 2px) 15px;
    box-shadow: 0 2px 6px -4px #555;
    margin-bottom: 0.5rem;
    background-color: #fafafa;
  }
  
  .cftf-dpdown-box {
    margin-top: 5px;
  }
  .cft-dpdown-inner-container{
    display: flex;
  }
  .cft-selection-box  {
    width: 60%;
      margin-left: 4px;
  }
  @media(max-width: 300px) {
    .cftf-dpdown-box {
       width: 100%;
     }
  }

  .tab-content {
    height:100%;
  }
  
  .vue-bpmn-diagram-container {
    height: 100%;
    width: 100%;
  }

  .cftf-exit-button {
    padding-right: 3px;
    font-weight: 700 !important;
    cursor: pointer;
    color: #212529;
  }

  .cftf-span-element {
    cursor: pointer;
    margin-right: 0.25rem;
  }
  
  .cftf-add-sorting {
    padding-top: 5px;
    margin-top: 5px;
  }

  .cftf-arrow {
    font-size: 1.3333em;
    line-height: 0.75em;
    display: inline-block;
    font-weight: 700  !important;
    color: #212529;
  }

  .cft-sort-element {
    cursor: pointer;
  }

  p{
    white-space: normal;
  }

}

.cftf-form-conatiner{
  background-color: white;
  .cftf-taskhead{
    font-weight: bold;
    font-size: 30px;
    margin-left: 10px;
    display: flex;
  }
  .cftf-table-align{
    text-align: left;
  }
}
