.cft-input-search-filter{
    
    .cft-approve-box,.cft-reject-box{
        background-color: white;
        border: 1px solid rgb(165, 163, 163);
        height: 8px;
        width: 8px;
        }
    .cft-icon-actions{
        display: block;
        float: right;
    }
    .cft-rhs-container{
        width: 46.5%;
        display: inline-block;
    }
    .cft-search-title{
        margin-bottom: 0rem;
        display: inline-block;
    }

}
