.camunda-tasklist-main {
  margin-top: 2px;
  min-height: 85vh;
  padding-bottom: 1.5rem;
  font-size: 16px;
  font-family: Nunito Sans, SemiBold;
  background-color: white !important;
}

.bg-default {
  background-color: #38598a !important;
  border: #38598a !important;
  color: white !important;
}

.not-selected{
  border: 3px solid #b3b3b3;
  padding: 10px;
  color: #b3b3b3;
  width: 100%;
}

.filter-container{
  border: 1px solid #555;
  border-radius: 5px;
  width: 100%;
  padding: 0;
  margin: 0 5px 10px 5px;
  font-size: 13px;
}

.filter{
  width: 85%;
  margin: 5px;
  border: none;
  font-style: italic;
}
.filter:focus{
  outline: none;
}

.task-row-2 {
  font-size: 15px;
}
.task-row-3 {
  font-size: 11px;
}

.service-task-list {
  box-shadow: 0 0 10px 5px #D0D0D0;
  clip-path: inset(0px -15px 0px 0px);
  padding: 0rem 1.25rem !important;
  border-top: 1px solid #ced4da !important;
  max-height: 80vh;
  overflow-y: auto;
  padding-right: 25px;
  border-right: 2px solid #D0D0D0;
} 

.service-task-details {
  min-height: 80vh;
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.task-header {
  font-size: 30px;
  font-weight: 600;
}
.task-name {
  font-size: 20px;
  font-weight: 400;
}

.selected {
  border-left: 2px solid #003366 !important;
}

.actionable {
  color: #1a5a96;
  background-color: transparent;
  cursor: pointer;
  margin: 10px 0;
  font-size: 14px;
  font-weight: bold;
}

.select-task {
  color: #212529;
  text-align: left;
}
