.cftf-form-conatiner{
    background-color: white;
    .cft-form-list-paginate{
      display: flex;
      justify-content: center;
      margin-top: 15px;
    }

}

.cft-form-submission {
  background-color: white;
}